<h1 id="what">Examining the Evolution of Sexism and Discrimination in the Film Industry</h1>
<div class="report-chapter">
  <p class="report-paragraph">
    In a recent interview with The CEO Magazine, actress and producer Reese Witherspoon spoke out about the ongoing gender imbalances in Hollywood. She discussed the difficulties that women face in the industry, particularly when it comes to the types of roles available to them.
  </p>
  <div class="quote">
    <h3>
      “These women are accomplished and they deserve to be the center of their own stories, 
      But very often, everything the woman in the script says appears to be in service of the male characters.”
    </h3>
    <div class="row justify-content-end">
      <p class="ml-4">~Witherspoon</p>
    </div>
  </div>
  <div class="report-chapter">
    <p>
      This quote highlights one of the major issues faced by women in the movie industry – the lack of complex, fully-developed female characters and the frequent sidelining of women's stories in favor of male-driven narratives. The film industry has long been criticized for its gender imbalances, including the underrepresentation of women in acting and directing roles and the frequent awarding of prizes to men. Witherspoon's comments speak to the need for greater representation and equal opportunities for women in Hollywood.
      In an effort to understand the gender gap in the movie industry, we will use the CMU Movie Summary Corpus dataset to examine the representation of women in movie plots, principal roles, lexical fields, awards nominees, and winners.
    </p>

    <div class="comparison-img row justify-content-around">
        <img src="{{site.baseurl}}/assets/images/hands.jpg" alt="Size of the industry">
        <p >Comparison of Top Gun and Avatar revenues with 2019 global box office and 2018 global movie industry worths, and with 2018 Denmark GDP.</p>
    </div>  


    <p class="report-paragraph">
        Throughout this datastory we will analyze the popular movies' 
        plots and extract their sentiment ingredients. Humans are emotional beings and let's be honest, watch only the movies which are 
        close to their hearts. Therefore, besides assessing general sentiment, we will dive deeper and focus on, closest to the human soul, emotions. 
        This connection to emotion in the movies was actually also somehow contained in the famous quote by movie director Rich Moore.
        Moreover, we will try to answer how and which manifestations of violence influence movie popularity. All of these movie aspect will 
        result into ultimate cookbook for any aspiring movie creator containing the right emotion-related ingredients for a successful movie.
    </p>

    <div class="quote"><h3>"A good movie makes the audience feel like they've journeyed with the characters." </h3>
        <div class="row justify-content-end"><p class="ml-4">~Rich Moore</p></div>
    </div>



</div>

