
<h1 id="evolution">Movie nature evolution over the years!</h1>
<div class="report-chapter">
    <h2 id="general_sentiment">General sentiment</h2>
    <p class="report-paragraph">
        <!--  -->
    </p>
    <div class="row justify-content-around">
        {% include plots/general_sentiment_in_years.html %}
    </div>  

    <h2 id="emotions">Emotions</h2>  
    <p class="report-paragraph">
        <!--  -->
    </p>
    <div class="row justify-content-around">
        {% include plots/plot_emotions.html %}
    </div>
    <div class="row justify-content-around">
        {% include plots/classifier_emotions.html %}
    </div>

    <h2 id="violence">Violence</h2>  
    <p class="report-paragraph">
        <!--  -->
    </p>
    <div class="row justify-content-around">
        {% include plots/violence_score_in_years_no_reg.html %}
    </div>

    <div class="row justify-content-around">
        {% include plots/violence_score_in_years_from_1970_reg.html %}
    </div>

    <div class="row justify-content-around">
        {% include tables/top_manifests_in_years.html %}
    </div>

    <div class="row justify-content-around">
        {% include tables/top_5_manifests_over_years.html %}
    </div>

</div>