<h1 id="ilike">I like what you do!</h1> 
<div class="report-chapter">
    

    <p class="">
        The gender gap in the movie industry is not limited to the representation of characters on screen, but also extends to the recognition and opportunities afforded to those working behind the scenes. For example, the Academy Awards,
        considered as one of the most prestigious awards in the film industry, honors not only actresses or actors but also directors, songwriters or movie engineers. The plot below shows the number of male and female nominees at the Academy Awards in various categories.
        It indicates that there is a potential gender bias in the movie industry, as the number of male and female nominees is not balanced. It is worth noting that in many categories, the number of female nominees is significantly lower compared to their male counterparts. 
        In fact, in only a few categories, such as costume design and makeup and hairstyling, is the number of male and female nominees roughly comparable. 
   </p>

    <p class="">
      </p>
</div>
