<h1 id="genres">How is it in genres?!</h1> 
<div class="report-chapter">
    
    <div class="row justify-content-around">
        {% include plots/amount_of_movies_in_genres_over_years.html %}
    </div> 
    <p class="">
        From the plots above, we can see the amount of movies made in the different 20 genres over the years. We can see that drama is the most popular genre followed by comedy and thriller. All the genres follow roughly the same pattern: the increase in the movie industry in the 1980s can be seen in almost all genres. The impact of coronavirus can also be seen from the plots, in 2020 and 2021 all the lines drop. We can also detect that unfortunately for most of the genres, we have little data before 1950 – that's why we are observing different sentiments of the movies after 1950. However, when the movie industry increased after the 1970s, the coolest observations can be made after that!
    </p>
    <div class="row justify-content-around">
        {% include plots/sentiments_and_genres_over_years.html %}
    </div> 
    <p class="">
        From the 20 plots above, we can see really fascinating data – how the sentiments have changed for different genres over the years.

Think about any movie you’ve watched: are there negative sentiments of anger? Most likely, you answered yes to that question.

That’s right, the most eye-catching observation is that anger is the dominating sentiment in most of the plots. Can we then make a conclusion that movies with a lot of sentiments of anger are successful? We will examine that question in the next part below. After anger, fear and joy are the next biggest ones while love, sadness and surprise are the lowest sentiment values in every plot.

However, after the huge amount of anger and fear, people love happy sentiments too! An interesting observation is that joy has increased over the recent years in many genres, for instance in adventure, action, romance, war, comedy, animation. Thus, people want more movies, which are easy and fun to watch – movies that leave a good feeling after watching. For example, we can notice that from the romance genre, where joy has greatly increased and catched up with anger. We can all relate to that happy feeling after watching a cheesy romantic movie with a lot of joy!

In fantasy movies, there is not as clear a difference of the sentiments than in some other genres when anger, fear and joy are mixed together. This makes complete sense since for fantasy movies, it's very typical that the topic areas vary a lot and from the same genre one can find totally different movies.

People love negative sentiments as anger and fear are still the general sentiments of many genres. Thus, an interesting question is: what will be the situation in the future? The overall trend that can be seen from the plots is that in many cases, anger is decreasing and joy is increasing. Potentially, moviegoers have started to be bored of the continuous violence and anger of the movies from the 1980s?
    </p>
</div>
