<h1 id="genres">I like what you do!</h1> 
<div class="report-chapter">
    
    <div class="row justify-content-around">
        {% include plots/amount_of_movies_in_genres_over_years.html %}
    </div> 
    <p class="">
        The appreciation of a movie, through ratings and votes of viewers for example, attest to the quality of a movie from the point of view of the audience. Ratings can be impacted by the casting, the soundtrack, the scene. 
        The mean rating for movies with a female main character lies around 6.03/10 while the mean rating for male main character movies is 6.14/10. What does this suggest ? 
        On average, movies with a male main character received 40% more votes than movies with a female main character. This could be an indicator that at first sight, people are more attracted to watching a film with a man in the lead role.
        The gender gap in the movie industry is not limited to the representation of characters on screen, but also extends to the recognition and opportunities afforded to those working behind the scenes. For example, the Academy Awards,
        considered as one of the most prestigious awards in the film industry, honors not only actresses or actors but also directors, songwriters or movie engineers. The plot below shows the number of male and female nominees at the Academy Awards in various categories.
        It indicates that there is a potential gender bias in the movie industry, as the number of male and female nominees is not balanced. It is worth noting that in many categories, the number of female nominees is significantly lower compared to their male counterparts. 
        In fact, in only a few categories, such as costume design and makeup and hairstyling, is the number of male and female nominees roughly comparable. 
   </p>

    <p class="">
        From the 20 plots above, we can see really fascinating data – how the sentiments have changed for different genres over the years.

Think about any movie you’ve watched: are there negative sentiments of anger? Most likely, you answered yes to that question.

That’s right, the most eye-catching observation is that anger is the dominating sentiment in most of the plots. Can we then make a conclusion that movies with a lot of sentiments of anger are successful? We will examine that question in the next part below. After anger, fear and joy are the next biggest ones while love, sadness and surprise are the lowest sentiment values in every plot.

However, after the huge amount of anger and fear, people love happy sentiments too! An interesting observation is that joy has increased over the recent years in many genres, for instance in adventure, action, romance, war, comedy, animation. Thus, people want more movies, which are easy and fun to watch – movies that leave a good feeling after watching. For example, we can notice that from the romance genre, where joy has greatly increased and catched up with anger. We can all relate to that happy feeling after watching a cheesy romantic movie with a lot of joy!

In fantasy movies, there is not as clear a difference of the sentiments than in some other genres when anger, fear and joy are mixed together. This makes complete sense since for fantasy movies, it's very typical that the topic areas vary a lot and from the same genre one can find totally different movies.

People love negative sentiments as anger and fear are still the general sentiments of many genres. Thus, an interesting question is: what will be the situation in the future? The overall trend that can be seen from the plots is that in many cases, anger is decreasing and joy is increasing. Potentially, moviegoers have started to be bored of the continuous violence and anger of the movies from the 1980s?
    </p>
</div>
