<h1 id="bechdel">A lesson about interaction by Alison Bechdel</h1> 
<div class="report-chapter">
    <p class="">
        Our analysis suggests that the film industry remains heavily male-dominated, 
        but there are signs of progress in the representation of women. One way to measure the gender gap in films is through the Bechdel test,
         which highlights the over-representation of masculine protagonists or the under-representation of women protagonists. 
         This score is mainly computed based on the interaction between protagonists of the same and of different gender, for example by assessing whether a film features at least two female characters who have a conversation about something other than a man. 
         The Bechdel test is named after cartoonist Alison Bechdel, who introduced the concept in a 1985 comic strip. It is not a definitive measure of a film's quality or feminist credentials, but it does provide a simple way to identify films that may have limited or stereotypical portrayals of women. 
        The Bechdel score goes from 0 to 3, zero being the worst mark in terms of women representation, and 3 being the highest score that attest of gender quasi-equality. Dubious indicates an uncertainty concerning the grading.  
 </p>
 <div class="comparison-img row justify-content-around">
    <img src="{{site.baseurl}}/assets/images/evol_bechdel.png" alt="hands">
</div>  
    <p class="pip">
        By looking at the evolution of the Bechdel scores of movies, we can see that the film industry is moving towards a more balanced and nuanced
         gender gap, with a larger proportion of high scores through the years, at least for the representation of women on screen.
    </p>

</div>
