<table border="1" class="dataframe table row justify-content-center table-hover table-striped table-light text-center">
  <thead>
    <tr style="text-align: center;">
      <th>correlatives</th>
      <th>pearson</th>
      <th>pvalue</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>revenue &amp; rating</td>
      <td>0.133041</td>
      <td>1.571726e-60</td>
    </tr>
    <tr>
      <td>revenue &amp; anger</td>
      <td>0.028631</td>
      <td>4.365611e-04</td>
    </tr>
    <tr>
      <td>revenue &amp; fear</td>
      <td>0.059949</td>
      <td>1.718399e-13</td>
    </tr>
    <tr>
      <td>revenue &amp; joy</td>
      <td>-0.041694</td>
      <td>3.012443e-07</td>
    </tr>
    <tr>
      <td>revenue &amp; love</td>
      <td>-0.036443</td>
      <td>7.565722e-06</td>
    </tr>
    <tr>
      <td>revenue &amp; sadness</td>
      <td>-0.047053</td>
      <td>7.391326e-09</td>
    </tr>
    <tr>
      <td>revenue &amp; surprise</td>
      <td>0.009592</td>
      <td>2.388045e-01</td>
    </tr>
    <tr>
      <td>rating &amp; anger</td>
      <td>0.007946</td>
      <td>3.291219e-01</td>
    </tr>
    <tr>
      <td>rating &amp; fear</td>
      <td>-0.069208</td>
      <td>1.742977e-17</td>
    </tr>
    <tr>
      <td>rating &amp; joy</td>
      <td>0.008866</td>
      <td>2.762259e-01</td>
    </tr>
    <tr>
      <td>rating &amp; love</td>
      <td>0.022434</td>
      <td>5.859865e-03</td>
    </tr>
    <tr>
      <td>rating &amp; sadness</td>
      <td>0.054219</td>
      <td>2.672334e-11</td>
    </tr>
    <tr>
      <td>rating &amp; surprise</td>
      <td>0.007892</td>
      <td>3.324391e-01</td>
    </tr>
  </tbody>
</table>