<footer class="content mt-5 mb-5 container align-items-center column"> 
  <h3 class="text-center mb-3">Who and Why?</h3>
  <p class="text-center">This project was created by the team CYGA as a part of the EPFL course Applied Data
    Analysis. <br> Repository with the full analysis corresponding to this project is on <a target="_blank" href="https://github.com/epfl-ada/ada-2022-project-cyga"> GitHub</a>!</p>
  <h4 class="text-center mb-3">CYGA team</h4>
  
  <!-- author profiles -->
  <div class="row" >
    <div class="col-md-2 text-center"></div>
    <div class="col-md-2 text-center">
      <!-- <img class="rounded-img" src="{{ site.baseurl }}/images/ondrej.png"> -->
      <h5 class=""">
        Ondrej Kafka
      </h5>
      <div class="">Computer science</div>
    </div>
    <div class="col-md-2 text-center">
      <!-- <img class="rounded-img" src="{{ site.baseurl }}/images/wojciech.png"> -->
      <h5>
        Wojciech Pawel
      </h5>
      <div class="">Computer science</div>
    </div>
    <div class="col-md-2 text-center">
      <!-- <img class="uk-border-rounded" src="{{ site.baseurl }}/images/lauri.png"> -->
      <h5>
        Lauri Heroja
      </h5>
      <div class=""">Computer science</div>
    </div>
    <div class="col-md-2 text-center">
      <!-- <img class="uk-border-rounded" src="{{ site.baseurl }}/images/emna.png"> -->
      <h5>
        Emna Maghrebi
      </h3>
      <div class="">Computer science</div>
    </div>
  </div>
</footer>