<footer class="content mt-5 mb-5 container align-items-center column"> 
  <h3 class="text-center mb-3">Who and Why?</h3>
  <p class="text-center">This project was created by the team CYGA as a part of the EPFL course Applied Data
    Analysis. <br> Repository with the full analysis corresponding to this project is on <a target="_blank" href="https://github.com/epfl-ada/ada-2022-project-cyga"> GitHub</a>!</p>
  <h4 class="text-center mb-3">CYGA team</h4>
  
  <!-- author profiles -->
  <div class="row" >
    <div class="col-md-2 text-center"></div>
    <div class="col-md-2 text-center">
      <h5 class="">
        Aliénor Bénédicte G Hamoir
      </h5>
      <div class="">Energy</div>
    </div>
    <div class="col-md-2 text-center">
      <h5>
        Clara Rossignol
      </h5>
      <div class="">Neuro-X</div>
    </div>
    <div class="col-md-2 text-center">
      <h5>
        Guillaume David E. Ryelandt
      </h5>
      <div class="">Energy</div>
    </div>
    <div class="col-md-2 text-center">
      <h5>
        Yasmin El Euch
      </h3>
      <div class="">Electronical engineering</div>
    </div>
  </div>
  
</footer>