<div class="sidebar sticky-top rounded" style="margin-left: 2px;">
    <ul class="">
      <li><a id="a-examining" href="#examining">Examining </a></li>
      <li><a id="a-pretty" href="#pretty">Hey pretty woman</a></li>
      <li><a id="a-talk" href="#talk">Let’s talk about women</a></li>
      <li><a id="a-ilike" href="#ilike">I like what you do!</a></li>
      <li><a id="a-bechdel" href="#bechdel">Bechdel test</a></li>
      <li><a id="a-conclusion" href="#conclusion">Conclusion</a></li>
    </ul>
  </div>
  