<table class="table">
  <thead>
    <tr>
      <th scope="col">Year</th>
      <th scope="col">Violence Manifestation</th>
      <th scope="col">Violence Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1913</td>
      <td>force</td>
      <td>8.34</td>
    </tr>
    <tr>
      <td>1914</td>
      <td>veteran</td>
      <td>9.89</td>
    </tr>
    <tr>
      <td>1915</td>
      <td>corps</td>
      <td>9.79</td>
    </tr>
    <tr>
      <td>1916</td>
      <td>harming</td>
      <td>9.45</td>
    </tr>
    <tr>
      <td>1918</td>
      <td>depress</td>
      <td>9.89</td>
    </tr>
    <tr>
      <td>1919</td>
      <td>brute</td>
      <td>9.57</td>
    </tr>
    <tr>
      <td>1920</td>
      <td>killer</td>
      <td>9.79</td>
    </tr>
    <tr>
      <td>1921</td>
      <td>patriotic</td>
      <td>9.71</td>
    </tr>
    <tr>
      <td>1922</td>
      <td>wwi</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1923</td>
      <td>corps</td>
      <td>9.79</td>
    </tr>
    <tr>
      <td>1924</td>
      <td>depress</td>
      <td>9.89</td>
    </tr>
    <tr>
      <td>1925</td>
      <td>fighter</td>
      <td>9.78</td>
    </tr>
    <tr>
      <td>1926</td>
      <td>wwi</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1927</td>
      <td>wwi</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1928</td>
      <td>killer</td>
      <td>9.79</td>
    </tr>
    <tr>
      <td>1929</td>
      <td>aim</td>
      <td>9.71</td>
    </tr>
    <tr>
      <td>1930</td>
      <td>wwi</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1931</td>
      <td>depress</td>
      <td>9.89</td>
    </tr>
    <tr>
      <td>1932</td>
      <td>wwi</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1933</td>
      <td>machinegun</td>
      <td>9.95</td>
    </tr>
    <tr>
      <td>1934</td>
      <td>loath</td>
      <td>9.9</td>
    </tr>
    <tr>
      <td>1935</td>
      <td>detest</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1936</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1937</td>
      <td>loath</td>
      <td>9.9</td>
    </tr>
    <tr>
      <td>1941</td>
      <td>loath</td>
      <td>9.9</td>
    </tr>
    <tr>
      <td>1938</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1939</td>
      <td>wwi</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1940</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1942</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1943</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1944</td>
      <td>loath</td>
      <td>9.9</td>
    </tr>
    <tr>
      <td>1945</td>
      <td>wartime</td>
      <td>9.89</td>
    </tr>
    <tr>
      <td>1946</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1947</td>
      <td>ww2</td>
      <td>9.86</td>
    </tr>
    <tr>
      <td>1948</td>
      <td>wwi</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1949</td>
      <td>detest</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1950</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1951</td>
      <td>detest</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1952</td>
      <td>wwi</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1953</td>
      <td>wwi</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1954</td>
      <td>loath</td>
      <td>9.9</td>
    </tr>
    <tr>
      <td>1955</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1956</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1957</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1958</td>
      <td>veteran</td>
      <td>9.89</td>
    </tr>
    <tr>
      <td>1959</td>
      <td>veteran</td>
      <td>9.89</td>
    </tr>
    <tr>
      <td>1960</td>
      <td>loath</td>
      <td>9.9</td>
    </tr>
    <tr>
      <td>1961</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1962</td>
      <td>wwi</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1963</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1964</td>
      <td>icbm</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1965</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1966</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1967</td>
      <td>detest</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1968</td>
      <td>detest</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1969</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1970</td>
      <td>loath</td>
      <td>9.9</td>
    </tr>
    <tr>
      <td>1971</td>
      <td>detest</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1972</td>
      <td>machinegun</td>
      <td>9.95</td>
    </tr>
    <tr>
      <td>1973</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1974</td>
      <td>chevy</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1975</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1976</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1977</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1978</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1979</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1980</td>
      <td>chevy</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1981</td>
      <td>chevy</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1982</td>
      <td>detest</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1983</td>
      <td>chevy</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1984</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1985</td>
      <td>chevy</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1986</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1987</td>
      <td>detest</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1988</td>
      <td>detest</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1989</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1990</td>
      <td>detest</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1991</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1992</td>
      <td>wwi</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1993</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1994</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1995</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>2018</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1996</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1997</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1998</td>
      <td>wwi</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>1999</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>2000</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>2001</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>2002</td>
      <td>detest</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>2003</td>
      <td>chevy</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>2004</td>
      <td>chevy</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>2005</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>2006</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>2007</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>2008</td>
      <td>detest</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>2009</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>2010</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>2011</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>2013</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>2012</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>2014</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>2015</td>
      <td>wwi</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>2016</td>
      <td>wwi</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>2017</td>
      <td>wwi</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>2019</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>2020</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>2022</td>
      <td>despise</td>
      <td>10.0</td>
    </tr>
    <tr>
      <td>2021</td>
      <td>wwi</td>
      <td>10.0</td>
    </tr>
  </tbody>
</table>