<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Violence Manifestation</th>
      <th scope="col">Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>despise</td>
      <td>46</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>wwi</td>
      <td>16</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>detest</td>
      <td>12</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>mischievous</td>
      <td>7</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>loath</td>
      <td>7</td>
    </tr>
  </tbody>
</table>